doctype html
html
  head
    title Hello World
    meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    //-meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content

  script(type='text/javascript', src='/javascripts/application.js')

  unless isProduction
    script(type='text/javascript', src="//localhost:35729/livereload.js")

