doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(type='text/javascript', src='/javascripts/application.js')

  unless 'production' == process.env.NODE_ENV
    script(type='text/javascript', src="//localhost:35729/livereload.js")

